* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(212, 212, 212);
}

/* ///////////////////Header/////////////////////// */
.Nav {
    background-color: rgb(23, 142, 160);
    color: white;
    font-size: 17px;
    height: 50px;

}

.Nav ul {
    list-style: none;
}

.Nav ul li {
    float: right;
    display: inline-block;
    padding: 15px;
}
.Nav ul li a{
    text-decoration: none;
     color: white;
}
.Nav ul li:hover{
    cursor: pointer;
    
}

.Nav span {
    float: left;
    padding: 15px;
    font-size: 19px;
    font-weight: bold;
}

.clear {
    clear: both;
}

/* ///////////////////Search Product/////////////////////// */
.auto {
    width: 75%;
    margin: auto;
    /* background-color: aqua; */
}

.auto #search {
    width: 95%;
    height: 30px;
    border: none;
    border-radius: 4px;
}



/* ///////////////////Products/////////////////////// */

.desc{
    background-color: white;
    /* border: 2px solid black; */
    width: 200px;
    height: 270px;
    border-radius: 10px;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}
.desc img , .cart img ,.fav-card img{
    width: 200px;
    height: 130px;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;

}
.desc p{
    font-weight: bold;
}
.desc input , .desc input , .cart .remove_btn , .fav .remove_btn {
    border: none;
    border-radius: 3px;
    width: 180px;
    height: 30px;
    background-color:rgb(23, 142, 160) ;
    color: white;
    margin-left: 10px;
}
.desc input:hover{
    cursor: pointer;
}
#btn_for_fav{
    margin-top:10px ;
}
.desc p , .desc span{
     margin-left: 10px;
}



/* ////////////////////////Carts/////////////////////////// */

.remove{
    height: 200px;
}
.cart {
    background-color: white;
    /* border: 2px solid black; */
    width: 200px;
    height: 300px;
    border-radius: 10px;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}
.cart .inc , .cart .dec {
    background-color:rgb(23, 142, 160) ;
    width: 40px;
    height: 20px;
    margin-left: 25px;
    border: none;
}
.cart p ,.cart span{
    margin-left: 10px;
}
.qu{
    margin-left: 5px;

}
.cart .num_of_item p{
  margin-left: 10px;
  text-align: center;
}
.totaly{
    width: 100%;
    margin-top: 20px;
    text-align: center; 
    flex-basis: 100%; 
}

/*////////////////////////Fav///////////////////////////// */
.fav-card{
    background-color: white;
    /* border: 2px solid black; */
    width: 200px;
    height: 220px;
    border-radius: 10px;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}
.fav-card p ,.fav-card span{
    margin-left: 10px;
}